
@{
    ViewData["Title"] = "Categoria";
}

<h1>Categoria</h1>

<p>
    <a asp-action="Create">Crear Nueva Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
              Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tblCategoria">
       
    </tbody>
</table>

@section Scripts{
    <script src="~/js/categoria.js"></script>
}
